<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<title>S.C.C.R.</title>
		<style>
			 body {background-color: #49557b;}
			.listContainer {padding: 30px; margin: 0;}
			.listContainerBody{background-color: #fff; border-radius:10px}
			.table {background-color: #fff;}
			a{color: #356292;}
			.listContainerHeader{padding: 20px;}

			</style>
		
	</head>
<body>
	
	<!-- Inicio Navbar-->
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
		<a class="navbar-brand" href="#">S.C.C.R.</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item ">
			  <a class="nav-link" href="https://pedro-martire-uva-tcc.herokuapp.com/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link active" href="https://pedro-martire-uva-tcc.herokuapp.com/lead">Lead</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="https://pedro-martire-uva-tcc.herokuapp.com/cliente">Cliente</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="https://pedro-martire-uva-tcc.herokuapp.com/venda">Vendas</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="https://pedro-martire-uva-tcc.herokuapp.com/atendimento">Atendimentos</a>
			  </li>
		  </ul>

		</div>
	  </nav>


	  

	  <!-- Fim Navbar-->

	  <!-- Inicio Table-->

	  <div class="listContainer">
		<div class="listContainerBody">
		<div class="listContainerHeader">
			
				<div class="row">
					
				  <div class="col-8">
					<p style="margin-bottom: 0; font-size:15px;">Leads</p>
					<p style="margin-bottom: 0; font-weight:800">Vistos Recentemente</p>
				  </div>
				  <div class="col-4">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" style="float:right;">
						Novo Lead
					</button>
				  </div>
				</div>
		</div>
		<table class="table table-striped">
			<thead>
			<tr>
				<th scope="col">Código do Lead</th>
				<th scope="col">Nome</th>
				<th scope="col">Idade</th>
				<th scope="col">Email</th>
				<th scope="col">Canal</th>
				<th scope="col">Data de Criação</th>
				<th scope="col"></th>
				
			</tr>
			</thead>

			<tbody>
				<tr th:each="ls : ${leadsList}">
					<td th:href="@{/leadDetail/{id}(id=${ls.cod_lead})}" th:text="${ls.cod_lead}" >Codigo Lead</td></a>
					<td th:text="${ls.name}">Nome</td>
					<td th:text="${ls.idade}">Idade</td>
					<td th:text="${ls.email}">Email</td>
					<td th:text="${ls.canal}">Canal</td>
					<td th:text="${ls.dataCriacao}">Data de Criação</td>
					<td> <a th:href="@{/leadDetail/{id}(id=${ls.cod_lead})}">Link</a></td>

					

				</tr>
			</tbody>
		</table>
		</div>
	</div>


	  <!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Criar um Lead</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<form action="#" th:action="@{/createLead}" th:object="${lead}" method="post">
					
					<div class="form-group">
					  <label for="exampleInputPassword1">Nome</label>
					  <input type="text" class="form-control" id="leadName" placeholder="" th:field="${lead.name}">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Email</label>
						<input type="text" class="form-control" id="leadEmail" placeholder="" th:field="${lead.email}">
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Idade</label>
						<input type="text" class="form-control" id="leadIdade" placeholder="" th:field="${lead.idade}" required>
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Canal</label>
						<select class="form-control" id="leadCanal" >
							<option selected value="">Escolha uma Opção</option>
							<option value="Telefone">Telefone</option>
							<option value="Web">Web</option>
							<option value="Email">Email</option>
							<option value="Offline">Offline</option>
							<option value="Outros">Outros</option>
						  </select>
					  </div>
					  <button type="button" class="btn btn-info" onclick="createLead()">Salvar</button>
				</form>
		</div>
		</div>
  </div>
  </div>

	  <script>
		
		function createLead() {

		  var leadName = document.querySelector("input[id='leadName']").value;
		  var leadEmail = document.querySelector("input[id='leadEmail']").value;
		  var leadIdade = document.querySelector("input[id='leadIdade']").value;
		  var leadCanal = document.querySelector("select[id='leadCanal']").value;

		  var reg = new RegExp('^[0-9]*$');

		  if(leadName == ''){
			alert('Por favor, preencha o Nome do Lead.');
		  } else if(leadIdade == ''){
			alert('Por favor, preencha a Idade do Lead.');
		  } else if(reg.test(leadIdade) == false){
			alert('O campo Idade do Lead deve ser numérico.');
		 	}else {
			var leadData = '{"nome":"' + leadName + '", "email":"'+ leadEmail + '", "idade": "' + leadIdade + '", "canal":"'+ leadCanal +'"}';
			console.log(leadData); 

			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
				//alert(xhttp.response);
				window.location.replace("/leadDetail/" + xhttp.response);
				}
			};
			xhttp.open("POST", "createLead", true);
			xhttp.setRequestHeader("Content-Type", "application/json");
			xhttp.send(leadData);

			console.log(xhttp.response);

		  }

		  
		}
		</script>


	  <!-- Fim Table-->



</body>
</html>
